@import "tailwindcss";

:root {
  --background: #ffffff;
  --foreground: #171717;
}

@font-face {
  font-family: 'DreamerTM';
  src: url('/fonts/DreamerTM/DreamerTM-Regular.woff2') format('woff2');
  font-weight: normal;
  font-style: normal;
}

@font-face {
  font-family: 'AlteHaasGrotesk';
  src: url('/fonts/alte_haas_grotesk/AlteHaasGroteskRegular.ttf') format('truetype');
  font-weight: normal;
  font-style: normal;
}

@font-face {
  font-family: 'AlteHaasGrotesk';
  src: url('/fonts/alte_haas_grotesk/AlteHaasGroteskBold.ttf') format('truetype');
  font-weight: bold;
  font-style: normal;
}

@theme inline {
  --color-background: var(--background);
  --color-foreground: var(--foreground);
  --font-sans: var(--font-geist-sans);
  --font-mono: var(--font-geist-mono);
}

@media (prefers-color-scheme: light) {
  :root {
    --background: #0a0a0a;
    --foreground: #ffffff;
  }
}

body {
  background: var(--background);
  color: var(--foreground);
}

